* {
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:steelblue;
    --secondary-color:rgb(141, 248, 230);
}

.field {
    border: 1px solid black;
}

.bat {
    transition: transform 0.5s ease-in;
}

.field:hover .bat {
    transform: rotate(-60deg);
    transform-origin: top right;
}

.ball {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 500px;
    transition: transform .1s ease-out .5s;
}

.field:hover .ball {
    transform: translate(600px, -500px);

}

h1 {
    margin: 20px;
    text-align: center;
    text-decoration: underline;
    color: blueviolet;
}

@keyframes pingpong {
    from {
        left: 0;
    }

    to {
        left: 400px;
        background-color: tomato;
    }
}

.stage {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
    background-color: blueviolet;
}

.ball2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    position: relative;
    animation: pingpong 3s ease 1s infinite alternate;
    animation: bounce 3s ease-in-out 0.5s infinite alternate;
}

@keyframes bounce {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        left: 150px;
        top: 200px;
    }

    50% {
        left: 300px;
        top: 0;
    }

    100% {
        left:400px ;
        top: 200px;
    }
}
.h1-var{
    color: white;
    display: inline;
    background-color: var(--primary-color);
    padding:10px;
    border-radius:5px;
    text-align: center;
   margin-top: 30px;
}
.container {
    display: flex;
    justify-content: center;
  }
  .sidebar{
    background-color: #ebe7e7;
    /* width: 200px; */
    color: aliceblue;
    height: 100vh;
  }
  .main{
    background-color: brown;
  }
  .container-2 {
    /* display: flex; */
    /* gap: 20px; */
    display: grid;
    grid-template-columns: 300px calc(100% - 300px);
  }
  /* .main{
    flex: 1;
  } */
  ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    height: 100vh;
  }
  li{
    text-align: center;background-color: #9bf0eb;
    padding: 20px;
    font-size: 1.5rem;
    margin-left: 30px;
    margin-right: 30px;
    color: blueviolet;
    list-style: none;
    box-shadow: 8px 8px 5px 5px gray;
    border-radius: 5px;
    cursor: pointer;
  }
  h2{
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    color: var(--primary-color);
  }